title: hanabustillos.com
description:
url: hanabustillos.com
baseurl: "jekyll_practice"
author: Hana Bustillos

collections:
  authors:
    output: true

plugins:
  - jekyll-paginate
  - jekyll-postcss
  - jekyll-feed

# Enable safe mode
safe: true

sass:
    style: compressed

defaults:
  - scope:
      path: ""
      type: "authors"
    values:
      layout: "author"
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
  - scope:
      path: ""
    values:
      layout: "default"
