title: hanabustillos.com
description:
url: https://rinrodan.github.io/jekyll_practice

author: Hana Bustillos

permalink: /:categories/:year/:month/:day/:title:output_ext

collections:
  authors:
    output: true

plugins:
  - jekyll-paginate
  - jekyll-postcss
  - jekyll-feed

# Enable safe mode
safe: true

sass:
    style: compressed

defaults:
  - scope:
      path: ""
      type: "authors"
    values:
      layout: "author"
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
  - scope:
      path: ""
    values:
      layout: "default"
