
{% assign count = 0 %}
{% for post in site.posts limit:10 %} 
  {% if post.show %}
      {% if count < 10 %} 
    <div class="blogCard">
            <div class="blogCardImageContainer">
                <a href="{{ post.url }}">
                    <img class="blogCardImage" src="{{post.image_url}}" alt="{{post.image_title}}"/>
                </a>
            </div>
            
                <div class="blogCardTitle">{{post.title}}</div>
                <div class="blogCardDescription">{{post.description}}</div>
            
        
    </div>
    {% assign count = count | plus: 1 %}
    {% endif %}
{% endif %}
{% endfor %}
 